@font-face {
  font-family: pixel-font;
  src: url('assets/font.ttf');
}
body {
  background-color: #803000;
}
p, h1, button, label, a, input {
  font-family: pixel-font;
}
a {
  text-decoration: none;
}
.text, .header, .fact {
  color: #ffc070;
}
.text, .fact, .initial {
  font-size: 24px;
}
.fact {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-left: 5px;
}
.initial {
  color: #ff8050;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
}
.optionbtn {
  font-size: 24px;
  background-color: transparent;
  border: none;
  color: #ff8050;
}
.optiondiv {
  margin-bottom: 10px;
}
.button {
  font-size: 16px;
  margin-left: 10px;
  color: #ffa080;
  display: inline;
}
.stateimg {
  height: 1em;
  margin-left: 0.5em;
}
.soundimg {
  height: 1em;
}
#error {
  color: #ff5050;
  font-size: 18px;
  margin-left: 5px;
}
#reload {
  margin-top: 20px;
  display: none;
}
#file {
  display: none;
}
#logodiv {
  margin-top: 20px;
}
#aboutdiv {
  margin-top: 10px;
}
#text {
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}
#buttons {
  margin-bottom: 5px;
}
#state {
  margin-top: 0px;
  margin-right: 10%;
  margin-bottom: 5px;
  text-align: right;
}
#game {
  display: none;
}
#enterdiv {
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: none;
}
#enter {
  outline: none;
  color: #ff8050;
  background-color: transparent;
  border: none;
  font-size: 24px;
  width: 50%;
  display: inline;
}
#enterlabel {
  display: inline;
}