@font-face {
  font-family: pixel-font;
  src: url('assets/font.ttf');
}
p, h1, button, label {
  font-family: pixel-font;
}
.text, h1 {
  color: #ffc070;
}
#label {
  color: #ff8050;
  margin-left: 5px;
}
#error {
  color: #ff5050;
}
button, .text {
  font-size: 24px;
}
body {
  background-color: #803000;
}
.optiondiv {
  margin-bottom: 10px;
}
.optionbtn, #reload {
  background-color: transparent;
  border: none;
  color: #ff8050;
}
#reload {
  margin-top: 20px;
}
#file {
  display: none;
}
#logo {
  margin-top: 20px;
}
.button {
  font-size: 16px;
  margin-left: 10px;
  color: #ffa080;
}
#buttons {
  display: none;
}