@font-face {
  font-family: pixel-font;
  src: url('assets/font.ttf');
}
p, h1, button, label {
  font-family: pixel-font;
}
p, h1 {
  color: #ffc070;
}
label {
  color: #ff8050;
}
p, button, label {
  font-size: 24px;
}
body {
  background-color: #803000;
}
.optiondiv {
  margin-bottom: 10px;
}
.optionbtn {
  background-color: transparent;
  border: none;
  color: #ff8050;
}
#file {
  display: none;
}
#logo {
  margin-top: 20px;
}